LINKEDIN_AUTOMATOR_HOST=127.0.0.1
LINKEDIN_AUTOMATOR_PORT=4287
CHROME_REMOTE_DEBUGGING_PORT=9223
# CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
# LINKEDIN_AUTOMATOR_CHROME_PROFILE=C:\Projects\linkedin-automator\.local\chrome-profile
